div.header_class {
   border-style: solid;
   height: 160;
}

div.wrapper {
    display: flex;
}

div.products_listing {
  width: 200px;
  height: 500;
  background: lightblue;
  border_style: solid; 
  /* Just so it's visible */
}
div.shopping_cart {
  flex: 1;
  height: 500;
  /* Grow to rest of container */
  background: lightgreen;
  /* Just so it's visible */
  border_style: solid;
}


