div.header_class {
    border-style: solid;
    background: blanchedalmond;
    align-content: center;
    align-items: center;
    height: 160;
}

div.wrapper {
    display: flex;
}

div.products_listing {
    width: 300px;
    height: 1000;
    background: lightblue;
    border_style: solid; 
    /* Just so it's visible */
}
div.shopping_cart {
    flex: 1;
    height: 1000;
    /* Grow to rest of container */
    background: lightgreen;
    /* Just so it's visible */
    border_style: solid;
}
div.admin_class {
      background: lightgreen;
      height: 1000;
}

